<div class="mainSection">
    <div class="sectionComponent">
        <? SmallBtn social=linkedin ?>
        <? SmallBtn social=twitter ?>
        <? SmallBtn social=instagram ?>
    </div>
    
    <div class="sectionComponent">
        <div>
            <h1 class="mainSectionTextLarge">Hej!</h1>
            <h3 class="mainSectionTextLarge">Jag är Lukas Tomicic</h3>
            <h5 class="mainSectionTextMedium">Lego smak-konnässör</h5>
        </div>

        <div>
            <p class="mainSectionTextSmall">
                Lorem ipsum. Lots of bs, Not much to say. blah blah blah
            </p>
        </div>

        <div class="sectionBtnContainer">
            <? Btn title=Rekrytera title2=mig width=180px ?>
        </div>
    </div>

    <div class="sectionComponent floatAnimation">
        <? LargeCircleImg img=GFX/mig.png ?>
    </div>
</div>